.area-list{
  height: fit-content;
  width: 1000px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.area-list > .area-header {
  display: flex;
  gap: 10px;
}

.ant-table-row:hover {
  cursor: pointer;
}