.user-profile {
  gap: 10px;
  width: 1200px;
  display: flex;
  justify-content: center;
}

.user-profile > .content {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 500px;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
  gap: 10px;
}